@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer components {
  .text-green {
    @apply text-green-600;
  }
  .bg-grey {
    @apply bg-[#e8fcf1];
  }
  .auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }

  .auto-fit-tabs {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  }

  .auto-fit-menu {
     grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }

  .transition {
    @apply hover:scale-105  transition-all duration-300;
  }

  .active {
    @apply bg-green-300 rounded-sm px-3 py-1 shadow-sm;
  }

  .on-dark-shadow {
    box-shadow: 0 10px 15px -3px rgb(255 255 255 / 5%);
  }

  .spin-image {
    animation: spin 100s linear infinite;
  }

  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #26de4b #26de4b transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #ff3d00 #ff3d00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #26de4b #26de4b transparent transparent;
    animation: rotation 1.5s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  /* HomePage Image spin */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Archivo", sans-serif;
  }

  li {
    @apply hover:text-green-600 list-none;
  }

  main {
    @apply mt-20;
  }

  span {
    @apply text-green-600 inline-flex;
  }

  h2 {
    @apply text-2xl sm:text-4xl font-bold my-6;
  }

  h3 {
    @apply font-semibold text-lg my-3 underline;
  }

  header {
    @apply fixed top-0 w-full z-[200]  !bg-background !text-foreground;
  }

  section {
    @apply my-10 !bg-background !text-foreground dark:on-dark-shadow dark:px-4 dark:rounded-lg;
  }

  footer {
    @apply !bg-background !text-foreground;
  }
}
.active {
  @apply bg-green-300 rounded-sm px-3 py-1 shadow-sm;
}
